version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    groups:
      all-github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    groups:
      all-docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directories:
      - "/dlq-redrive"
      - "/macros"
      - "/pgsql-migrate"
      - "/tools"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    groups:
      all-cargo-dependencies:
        patterns:
          - "*"