name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      force:
        description: 'Force publish even if no changes detected'
        required: false
        type: boolean
        default: false

jobs:
  publish:
    runs-on: ubuntu-latest
    if: |
      (github.event.inputs.force == 'true' || github.ref == 'refs/heads/main') && github.event.head_commit.author.username != 'github-actions[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_PRIVATE_KEY }}

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Install cargo-release
        run: cargo install cargo-release

      - name: Configure git
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Publish axum-webtools
        run: cargo release patch --execute --no-confirm --no-tag
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: prod-dlq-redrive
          push: true
          tags: |
            jslsolucoes/axum-webtools-dlq-redrive:latest
            jslsolucoes/axum-webtools-dlq-redrive:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
